USE [master]
GO
/****** Object:  Database [TakeAwayDB]    Script Date: 9.11.2025 г. 23:56:51 ******/
CREATE DATABASE [TakeAwayDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TakeAwayDB', FILENAME = N'D:\Sql Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TakeAwayDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TakeAwayDB_log', FILENAME = N'D:\Sql Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TakeAwayDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TakeAwayDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TakeAwayDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetOrderTotal]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Scalar function to calculate total cost of an order
CREATE FUNCTION [dbo].[fn_GetOrderTotal]
(
    @order_id INTEGER
)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @total DECIMAL(10,2);
    
    SELECT @total = SUM(i.price)
    FROM Item_Order io
    INNER JOIN Item i ON io.item_id = i.item_id
    WHERE io.order_id = @order_id;
    
    -- Return 0 if no items found
    RETURN ISNULL(@total, 0);
END;
GO
/****** Object:  Table [dbo].[Review]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[user_id] [int] NOT NULL,
	[restaurant_id] [int] NOT NULL,
	[score] [int] NOT NULL,
	[comment] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[restaurant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetRestaurantRating]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Table-valued function to get restaurant's average rating
CREATE FUNCTION [dbo].[fn_GetRestaurantRating]
(
    @restaurant_id INTEGER
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        @restaurant_id AS restaurant_id,
        COUNT(*) AS total_reviews,
        AVG(CAST(score AS DECIMAL(10,2))) AS average_score,
        MAX(score) AS highest_score,
        MIN(score) AS lowest_score
    FROM Review
    WHERE restaurant_id = @restaurant_id
);
GO
/****** Object:  Table [dbo].[Compound_Item]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compound_Item](
	[parent_item_id] [int] NOT NULL,
	[child_item_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[parent_item_id] ASC,
	[child_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courier]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courier](
	[courier_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[courier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[delivery_id] [int] IDENTITY(1,1) NOT NULL,
	[courrier_id] [int] NULL,
	[type] [varchar](20) NOT NULL,
	[expected_time] [time](7) NULL,
	[status] [varchar](20) NOT NULL,
	[order_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[delivery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodOrder]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodOrder](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_id] [int] NOT NULL,
	[date] [date] NULL,
	[user_id] [int] NOT NULL,
	[arrival_address] [varchar](40) NOT NULL,
	[comment_to_restaurant] [text] NULL,
	[time_made] [time](7) NULL,
	[time_closed] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[name] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_Menu]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Menu](
	[item_id] [int] NOT NULL,
	[menu_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC,
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_Order]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_Order](
	[item_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC,
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[menu_id] [int] IDENTITY(1,1) NOT NULL,
	[date_added] [date] NULL,
	[restaurant_id] [int] NOT NULL,
	[name] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restaurant]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurant](
	[restaurant_id] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](40) NOT NULL,
	[phone] [varchar](14) NOT NULL,
	[email] [varchar](40) NOT NULL,
	[name] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[restaurant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAUser]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAUser](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[phone] [varchar](14) NOT NULL,
	[email] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Compound_Item] ([parent_item_id], [child_item_id]) VALUES (201, 106)
INSERT [dbo].[Compound_Item] ([parent_item_id], [child_item_id]) VALUES (201, 120)
INSERT [dbo].[Compound_Item] ([parent_item_id], [child_item_id]) VALUES (201, 180)
GO
SET IDENTITY_INSERT [dbo].[Courier] ON 

INSERT [dbo].[Courier] ([courier_id], [name]) VALUES (1, N'Paloma Gambell')
INSERT [dbo].[Courier] ([courier_id], [name]) VALUES (2, N'Verge Brumble')
INSERT [dbo].[Courier] ([courier_id], [name]) VALUES (3, N'Patsy Terlinden')
GO
SET IDENTITY_INSERT [dbo].[Courier] OFF
GO
SET IDENTITY_INSERT [dbo].[Delivery] ON 

INSERT [dbo].[Delivery] ([delivery_id], [courrier_id], [type], [expected_time], [status], [order_id]) VALUES (1, NULL, N'pick up', CAST(N'20:00:46.7066667' AS Time), N'being made', 203)
INSERT [dbo].[Delivery] ([delivery_id], [courrier_id], [type], [expected_time], [status], [order_id]) VALUES (2, 119, N'delivery', CAST(N'20:00:46.7100000' AS Time), N'being made', 204)
INSERT [dbo].[Delivery] ([delivery_id], [courrier_id], [type], [expected_time], [status], [order_id]) VALUES (3, 119, N'delivery', CAST(N'20:00:46.7100000' AS Time), N'being made', 205)
SET IDENTITY_INSERT [dbo].[Delivery] OFF
GO
SET IDENTITY_INSERT [dbo].[FoodOrder] ON 

INSERT [dbo].[FoodOrder] ([order_id], [payment_id], [date], [user_id], [arrival_address], [comment_to_restaurant], [time_made], [time_closed]) VALUES (203, 202, CAST(N'2025-11-04' AS Date), 75, N'Street 287 Apt 29', NULL, CAST(N'19:15:46.7066667' AS Time), NULL)
INSERT [dbo].[FoodOrder] ([order_id], [payment_id], [date], [user_id], [arrival_address], [comment_to_restaurant], [time_made], [time_closed]) VALUES (204, 203, CAST(N'2025-11-04' AS Date), 123, N'Street 6 Apt 34', NULL, CAST(N'19:15:46.7100000' AS Time), NULL)
INSERT [dbo].[FoodOrder] ([order_id], [payment_id], [date], [user_id], [arrival_address], [comment_to_restaurant], [time_made], [time_closed]) VALUES (205, 204, CAST(N'2025-11-04' AS Date), 91, N'Street 205 Apt 49', NULL, CAST(N'19:15:46.7100000' AS Time), NULL)
SET IDENTITY_INSERT [dbo].[FoodOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([item_id], [price], [type], [name]) VALUES (101, CAST(509 AS Decimal(18, 0)), N'main course', N'eu mi nulla ac')
INSERT [dbo].[Item] ([item_id], [price], [type], [name]) VALUES (102, CAST(734 AS Decimal(18, 0)), N'soup', N'sit')
INSERT [dbo].[Item] ([item_id], [price], [type], [name]) VALUES (103, CAST(419 AS Decimal(18, 0)), N'soup', N'vel nisl duis')
GO
SET IDENTITY_INSERT [dbo].[Item] OFF
GO
INSERT [dbo].[Item_Menu] ([item_id], [menu_id]) VALUES (102, 101)
INSERT [dbo].[Item_Menu] ([item_id], [menu_id]) VALUES (104, 87)
INSERT [dbo].[Item_Menu] ([item_id], [menu_id]) VALUES (105, 68)
GO
INSERT [dbo].[Item_Order] ([item_id], [order_id]) VALUES (102, 236)
INSERT [dbo].[Item_Order] ([item_id], [order_id]) VALUES (107, 230)
INSERT [dbo].[Item_Order] ([item_id], [order_id]) VALUES (107, 249)
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([menu_id], [date_added], [restaurant_id], [name]) VALUES (1, CAST(N'2025-11-03' AS Date), 395, N'Special')
INSERT [dbo].[Menu] ([menu_id], [date_added], [restaurant_id], [name]) VALUES (2, CAST(N'2025-11-03' AS Date), 325, N'Breakfast')
INSERT [dbo].[Menu] ([menu_id], [date_added], [restaurant_id], [name]) VALUES (3, CAST(N'2025-11-03' AS Date), 374, N'Special')
GO
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [type], [status]) VALUES (1, N'bank transfer', N'completed')
INSERT [dbo].[Payment] ([payment_id], [type], [status]) VALUES (2, N'credit card', N'failed')
INSERT [dbo].[Payment] ([payment_id], [type], [status]) VALUES (3, N'credit card', N'failed')
GO
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Restaurant] ON 

INSERT [dbo].[Restaurant] ([restaurant_id], [address], [phone], [email], [name]) VALUES (201, N'770 Donald Place', N'304-478-7939', N'lpiggins0@xing.com', N'Centimia')
INSERT [dbo].[Restaurant] ([restaurant_id], [address], [phone], [email], [name]) VALUES (202, N'5 Southridge Circle', N'798-161-2008', N'bkinnear1@wiley.com', N'Pixope')
INSERT [dbo].[Restaurant] ([restaurant_id], [address], [phone], [email], [name]) VALUES (203, N'95864 Warbler Parkway', N'448-433-8988', N'risakson2@instagram.com', N'Brainlounge')
GO
SET IDENTITY_INSERT [dbo].[Restaurant] OFF
GO
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (2, 242, 5, N'Cras non velit nec nisi vulputate nonummy. Maecenas tincidunt lacus at velit. Vivamus vel nulla eget eros elementum pellentesque.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (2, 245, 4, N'Vestibulum ac est lacinia nisi venenatis tristique. Fusce congue, diam id ornare imperdiet, sapien urna pretium nisl, ut volutpat sapien arcu sed augue. Aliquam erat volutpat.

In congue. Etiam justo. Etiam pretium iaculis justo.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (2, 257, 1, N'Sed sagittis. Nam congue, risus semper porta volutpat, quam pede lobortis ligula, sit amet eleifend pede libero quis orci. Nullam molestie nibh in lectus.

Pellentesque at nulla. Suspendisse potenti. Cras in purus eu magna vulputate luctus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (7, 254, 5, N'Curabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.

Phasellus sit amet erat. Nulla tempus. Vivamus in felis eu sapien cursus vestibulum.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (10, 242, 3, N'In sagittis dui vel nisl. Duis ac nibh. Fusce lacus purus, aliquet at, feugiat non, pretium quis, lectus.

Suspendisse potenti. In eleifend quam a odio. In hac habitasse platea dictumst.

Maecenas ut massa quis augue luctus tincidunt. Nulla mollis molestie lorem. Quisque ut erat.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (11, 207, 4, N'Fusce posuere felis sed lacus. Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl. Nunc rhoncus dui vel sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (13, 248, 4, N'Phasellus in felis. Donec semper sapien a libero. Nam dui.

Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.

Integer ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (14, 201, 5, N'Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.

Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.

Morbi porttitor lorem id ligula. Suspendisse ornare consequat lectus. In est risus, auctor sed, tristique in, tempus sit amet, sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (14, 248, 1, N'Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.

Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.

Morbi porttitor lorem id ligula. Suspendisse ornare consequat lectus. In est risus, auctor sed, tristique in, tempus sit amet, sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (15, 229, 2, N'Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.

Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.

Morbi porttitor lorem id ligula. Suspendisse ornare consequat lectus. In est risus, auctor sed, tristique in, tempus sit amet, sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (18, 271, 4, N'Morbi non lectus. Aliquam sit amet diam in magna bibendum imperdiet. Nullam orci pede, venenatis non, sodales sed, tincidunt eu, felis.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (19, 229, 3, N'Duis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.

In sagittis dui vel nisl. Duis ac nibh. Fusce lacus purus, aliquet at, feugiat non, pretium quis, lectus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (20, 221, 3, N'In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.

Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.

Sed ante. Vivamus tortor. Duis mattis egestas metus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (20, 245, 3, N'Phasellus in felis. Donec semper sapien a libero. Nam dui.

Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (21, 252, 3, N'Phasellus in felis. Donec semper sapien a libero. Nam dui.

Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.

Integer ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (21, 287, 3, N'Proin interdum mauris non ligula pellentesque ultrices. Phasellus id sapien in sapien iaculis congue. Vivamus metus arcu, adipiscing molestie, hendrerit at, vulputate vitae, nisl.

Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.

Curabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (22, 255, 5, N'Duis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.

In sagittis dui vel nisl. Duis ac nibh. Fusce lacus purus, aliquet at, feugiat non, pretium quis, lectus.

Suspendisse potenti. In eleifend quam a odio. In hac habitasse platea dictumst.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (24, 268, 2, N'In congue. Etiam justo. Etiam pretium iaculis justo.

In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.

Nulla ut erat id mauris vulputate elementum. Nullam varius. Nulla facilisi.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (32, 283, 3, N'Maecenas ut massa quis augue luctus tincidunt. Nulla mollis molestie lorem. Quisque ut erat.

Curabitur gravida nisi at nibh. In hac habitasse platea dictumst. Aliquam augue quam, sollicitudin vitae, consectetuer eget, rutrum at, lorem.

Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (32, 286, 4, N'Curabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.

Phasellus sit amet erat. Nulla tempus. Vivamus in felis eu sapien cursus vestibulum.

Proin eu mi. Nulla ac enim. In tempor, turpis nec euismod scelerisque, quam turpis adipiscing lorem, vitae mattis nibh ligula nec sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (37, 226, 5, N'Quisque porta volutpat erat. Quisque erat eros, viverra eget, congue eget, semper rutrum, nulla. Nunc purus.

Phasellus in felis. Donec semper sapien a libero. Nam dui.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (37, 242, 2, N'Nullam sit amet turpis elementum ligula vehicula consequat. Morbi a ipsum. Integer a nibh.

In quis justo. Maecenas rhoncus aliquam lacus. Morbi quis tortor id nulla ultrices aliquet.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (40, 286, 4, N'Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum.

In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (41, 239, 3, N'Morbi porttitor lorem id ligula. Suspendisse ornare consequat lectus. In est risus, auctor sed, tristique in, tempus sit amet, sem.

Fusce consequat. Nulla nisl. Nunc nisl.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (42, 288, 4, N'Vestibulum ac est lacinia nisi venenatis tristique. Fusce congue, diam id ornare imperdiet, sapien urna pretium nisl, ut volutpat sapien arcu sed augue. Aliquam erat volutpat.

In congue. Etiam justo. Etiam pretium iaculis justo.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (45, 248, 2, N'Curabitur gravida nisi at nibh. In hac habitasse platea dictumst. Aliquam augue quam, sollicitudin vitae, consectetuer eget, rutrum at, lorem.

Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (50, 276, 3, N'Nulla ut erat id mauris vulputate elementum. Nullam varius. Nulla facilisi.

Cras non velit nec nisi vulputate nonummy. Maecenas tincidunt lacus at velit. Vivamus vel nulla eget eros elementum pellentesque.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (50, 299, 1, N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin risus. Praesent lectus.

Vestibulum quam sapien, varius ut, blandit non, interdum in, ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis faucibus accumsan odio. Curabitur convallis.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (53, 276, 3, N'Curabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.

Phasellus sit amet erat. Nulla tempus. Vivamus in felis eu sapien cursus vestibulum.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (54, 285, 4, N'In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.

Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (60, 240, 1, N'Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.

Curabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.

Phasellus sit amet erat. Nulla tempus. Vivamus in felis eu sapien cursus vestibulum.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (60, 265, 3, N'Etiam vel augue. Vestibulum rutrum rutrum neque. Aenean auctor gravida sem.

Praesent id massa id nisl venenatis lacinia. Aenean sit amet justo. Morbi ut odio.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (62, 231, 5, N'Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum.

In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.

Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (66, 238, 3, N'Nullam sit amet turpis elementum ligula vehicula consequat. Morbi a ipsum. Integer a nibh.

In quis justo. Maecenas rhoncus aliquam lacus. Morbi quis tortor id nulla ultrices aliquet.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (66, 298, 3, N'Sed sagittis. Nam congue, risus semper porta volutpat, quam pede lobortis ligula, sit amet eleifend pede libero quis orci. Nullam molestie nibh in lectus.

Pellentesque at nulla. Suspendisse potenti. Cras in purus eu magna vulputate luctus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (67, 239, 3, N'Vestibulum ac est lacinia nisi venenatis tristique. Fusce congue, diam id ornare imperdiet, sapien urna pretium nisl, ut volutpat sapien arcu sed augue. Aliquam erat volutpat.

In congue. Etiam justo. Etiam pretium iaculis justo.

In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (67, 247, 2, N'Curabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.

Phasellus sit amet erat. Nulla tempus. Vivamus in felis eu sapien cursus vestibulum.

Proin eu mi. Nulla ac enim. In tempor, turpis nec euismod scelerisque, quam turpis adipiscing lorem, vitae mattis nibh ligula nec sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (68, 294, 5, N'Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.

Sed ante. Vivamus tortor. Duis mattis egestas metus.

Aenean fermentum. Donec ut mauris eget massa tempor convallis. Nulla neque libero, convallis eget, eleifend luctus, ultricies eu, nibh.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (69, 218, 3, N'Vestibulum quam sapien, varius ut, blandit non, interdum in, ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis faucibus accumsan odio. Curabitur convallis.

Duis consequat dui nec nisi volutpat eleifend. Donec ut dolor. Morbi vel lectus in quam fringilla rhoncus.

Mauris enim leo, rhoncus sed, vestibulum sit amet, cursus id, turpis. Integer aliquet, massa id lobortis convallis, tortor risus dapibus augue, vel accumsan tellus nisi eu orci. Mauris lacinia sapien quis libero.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (71, 232, 3, N'Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vestibulum sagittis sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Etiam vel augue. Vestibulum rutrum rutrum neque. Aenean auctor gravida sem.

Praesent id massa id nisl venenatis lacinia. Aenean sit amet justo. Morbi ut odio.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (71, 274, 3, N'Fusce consequat. Nulla nisl. Nunc nisl.

Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum.

In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (72, 245, 2, N'Curabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.

Phasellus sit amet erat. Nulla tempus. Vivamus in felis eu sapien cursus vestibulum.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (72, 279, 1, N'Maecenas ut massa quis augue luctus tincidunt. Nulla mollis molestie lorem. Quisque ut erat.

Curabitur gravida nisi at nibh. In hac habitasse platea dictumst. Aliquam augue quam, sollicitudin vitae, consectetuer eget, rutrum at, lorem.

Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (72, 291, 4, N'Vestibulum quam sapien, varius ut, blandit non, interdum in, ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis faucibus accumsan odio. Curabitur convallis.

Duis consequat dui nec nisi volutpat eleifend. Donec ut dolor. Morbi vel lectus in quam fringilla rhoncus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (74, 206, 5, N'Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.

Integer ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (75, 256, 1, N'Phasellus sit amet erat. Nulla tempus. Vivamus in felis eu sapien cursus vestibulum.

Proin eu mi. Nulla ac enim. In tempor, turpis nec euismod scelerisque, quam turpis adipiscing lorem, vitae mattis nibh ligula nec sem.

Duis aliquam convallis nunc. Proin at turpis a pede posuere nonummy. Integer non velit.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (76, 283, 5, N'Pellentesque at nulla. Suspendisse potenti. Cras in purus eu magna vulputate luctus.

Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vestibulum sagittis sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Etiam vel augue. Vestibulum rutrum rutrum neque. Aenean auctor gravida sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (77, 294, 5, N'Proin interdum mauris non ligula pellentesque ultrices. Phasellus id sapien in sapien iaculis congue. Vivamus metus arcu, adipiscing molestie, hendrerit at, vulputate vitae, nisl.

Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.

Curabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (79, 288, 2, N'Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum.

In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (80, 237, 4, N'Sed sagittis. Nam congue, risus semper porta volutpat, quam pede lobortis ligula, sit amet eleifend pede libero quis orci. Nullam molestie nibh in lectus.

Pellentesque at nulla. Suspendisse potenti. Cras in purus eu magna vulputate luctus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (80, 270, 5, N'Morbi non lectus. Aliquam sit amet diam in magna bibendum imperdiet. Nullam orci pede, venenatis non, sodales sed, tincidunt eu, felis.

Fusce posuere felis sed lacus. Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl. Nunc rhoncus dui vel sem.

Sed sagittis. Nam congue, risus semper porta volutpat, quam pede lobortis ligula, sit amet eleifend pede libero quis orci. Nullam molestie nibh in lectus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (81, 239, 4, N'Maecenas ut massa quis augue luctus tincidunt. Nulla mollis molestie lorem. Quisque ut erat.

Curabitur gravida nisi at nibh. In hac habitasse platea dictumst. Aliquam augue quam, sollicitudin vitae, consectetuer eget, rutrum at, lorem.

Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (81, 262, 1, N'Quisque id justo sit amet sapien dignissim vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla dapibus dolor vel est. Donec odio justo, sollicitudin ut, suscipit a, feugiat et, eros.

Vestibulum ac est lacinia nisi venenatis tristique. Fusce congue, diam id ornare imperdiet, sapien urna pretium nisl, ut volutpat sapien arcu sed augue. Aliquam erat volutpat.

In congue. Etiam justo. Etiam pretium iaculis justo.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (81, 282, 3, N'Morbi porttitor lorem id ligula. Suspendisse ornare consequat lectus. In est risus, auctor sed, tristique in, tempus sit amet, sem.

Fusce consequat. Nulla nisl. Nunc nisl.

Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (86, 227, 4, N'Mauris enim leo, rhoncus sed, vestibulum sit amet, cursus id, turpis. Integer aliquet, massa id lobortis convallis, tortor risus dapibus augue, vel accumsan tellus nisi eu orci. Mauris lacinia sapien quis libero.

Nullam sit amet turpis elementum ligula vehicula consequat. Morbi a ipsum. Integer a nibh.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (87, 244, 4, N'Cras mi pede, malesuada in, imperdiet et, commodo vulputate, justo. In blandit ultrices enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

Proin interdum mauris non ligula pellentesque ultrices. Phasellus id sapien in sapien iaculis congue. Vivamus metus arcu, adipiscing molestie, hendrerit at, vulputate vitae, nisl.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (88, 204, 2, N'Sed sagittis. Nam congue, risus semper porta volutpat, quam pede lobortis ligula, sit amet eleifend pede libero quis orci. Nullam molestie nibh in lectus.

Pellentesque at nulla. Suspendisse potenti. Cras in purus eu magna vulputate luctus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (91, 211, 1, N'Nullam porttitor lacus at turpis. Donec posuere metus vitae ipsum. Aliquam non mauris.

Morbi non lectus. Aliquam sit amet diam in magna bibendum imperdiet. Nullam orci pede, venenatis non, sodales sed, tincidunt eu, felis.

Fusce posuere felis sed lacus. Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl. Nunc rhoncus dui vel sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (91, 218, 2, N'Curabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.

Phasellus sit amet erat. Nulla tempus. Vivamus in felis eu sapien cursus vestibulum.

Proin eu mi. Nulla ac enim. In tempor, turpis nec euismod scelerisque, quam turpis adipiscing lorem, vitae mattis nibh ligula nec sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (91, 268, 3, N'Phasellus sit amet erat. Nulla tempus. Vivamus in felis eu sapien cursus vestibulum.

Proin eu mi. Nulla ac enim. In tempor, turpis nec euismod scelerisque, quam turpis adipiscing lorem, vitae mattis nibh ligula nec sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (92, 223, 5, N'Maecenas ut massa quis augue luctus tincidunt. Nulla mollis molestie lorem. Quisque ut erat.

Curabitur gravida nisi at nibh. In hac habitasse platea dictumst. Aliquam augue quam, sollicitudin vitae, consectetuer eget, rutrum at, lorem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (92, 293, 1, N'Donec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.

Duis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (96, 265, 5, N'Integer ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.

Nam ultrices, libero non mattis pulvinar, nulla pede ullamcorper augue, a suscipit nulla elit ac nulla. Sed vel enim sit amet nunc viverra dapibus. Nulla suscipit ligula in lacus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (97, 212, 1, N'Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.

Integer ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.

Nam ultrices, libero non mattis pulvinar, nulla pede ullamcorper augue, a suscipit nulla elit ac nulla. Sed vel enim sit amet nunc viverra dapibus. Nulla suscipit ligula in lacus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (97, 223, 1, N'Cras non velit nec nisi vulputate nonummy. Maecenas tincidunt lacus at velit. Vivamus vel nulla eget eros elementum pellentesque.

Quisque porta volutpat erat. Quisque erat eros, viverra eget, congue eget, semper rutrum, nulla. Nunc purus.

Phasellus in felis. Donec semper sapien a libero. Nam dui.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (97, 263, 2, N'In congue. Etiam justo. Etiam pretium iaculis justo.

In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (98, 247, 1, N'Cras mi pede, malesuada in, imperdiet et, commodo vulputate, justo. In blandit ultrices enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

Proin interdum mauris non ligula pellentesque ultrices. Phasellus id sapien in sapien iaculis congue. Vivamus metus arcu, adipiscing molestie, hendrerit at, vulputate vitae, nisl.

Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (98, 251, 5, N'Nullam sit amet turpis elementum ligula vehicula consequat. Morbi a ipsum. Integer a nibh.

In quis justo. Maecenas rhoncus aliquam lacus. Morbi quis tortor id nulla ultrices aliquet.

Maecenas leo odio, condimentum id, luctus nec, molestie sed, justo. Pellentesque viverra pede ac diam. Cras pellentesque volutpat dui.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (98, 258, 4, N'In congue. Etiam justo. Etiam pretium iaculis justo.

In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.

Nulla ut erat id mauris vulputate elementum. Nullam varius. Nulla facilisi.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (99, 267, 3, N'Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.

Integer ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.

Nam ultrices, libero non mattis pulvinar, nulla pede ullamcorper augue, a suscipit nulla elit ac nulla. Sed vel enim sit amet nunc viverra dapibus. Nulla suscipit ligula in lacus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (105, 230, 4, N'Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.

Integer ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (106, 233, 2, N'Proin interdum mauris non ligula pellentesque ultrices. Phasellus id sapien in sapien iaculis congue. Vivamus metus arcu, adipiscing molestie, hendrerit at, vulputate vitae, nisl.

Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.')
GO
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (107, 292, 1, N'Proin interdum mauris non ligula pellentesque ultrices. Phasellus id sapien in sapien iaculis congue. Vivamus metus arcu, adipiscing molestie, hendrerit at, vulputate vitae, nisl.

Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (111, 201, 4, N'Duis aliquam convallis nunc. Proin at turpis a pede posuere nonummy. Integer non velit.

Donec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.

Duis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (111, 219, 4, N'Vestibulum ac est lacinia nisi venenatis tristique. Fusce congue, diam id ornare imperdiet, sapien urna pretium nisl, ut volutpat sapien arcu sed augue. Aliquam erat volutpat.

In congue. Etiam justo. Etiam pretium iaculis justo.

In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (115, 250, 3, N'Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum.

In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.

Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (115, 269, 4, N'Duis aliquam convallis nunc. Proin at turpis a pede posuere nonummy. Integer non velit.

Donec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.

Duis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (118, 218, 2, N'Mauris enim leo, rhoncus sed, vestibulum sit amet, cursus id, turpis. Integer aliquet, massa id lobortis convallis, tortor risus dapibus augue, vel accumsan tellus nisi eu orci. Mauris lacinia sapien quis libero.

Nullam sit amet turpis elementum ligula vehicula consequat. Morbi a ipsum. Integer a nibh.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (119, 273, 1, N'Donec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec pharetra, magna vestibulum aliquet ultrices, erat tortor sollicitudin mi, sit amet lobortis sapien sapien non mi. Integer ac neque.

Duis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.

In sagittis dui vel nisl. Duis ac nibh. Fusce lacus purus, aliquet at, feugiat non, pretium quis, lectus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (120, 292, 4, N'Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vestibulum sagittis sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Etiam vel augue. Vestibulum rutrum rutrum neque. Aenean auctor gravida sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (122, 266, 4, N'In congue. Etiam justo. Etiam pretium iaculis justo.

In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (125, 265, 2, N'Sed ante. Vivamus tortor. Duis mattis egestas metus.

Aenean fermentum. Donec ut mauris eget massa tempor convallis. Nulla neque libero, convallis eget, eleifend luctus, ultricies eu, nibh.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (128, 276, 5, N'Quisque porta volutpat erat. Quisque erat eros, viverra eget, congue eget, semper rutrum, nulla. Nunc purus.

Phasellus in felis. Donec semper sapien a libero. Nam dui.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (129, 264, 2, N'Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum.

In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (130, 250, 2, N'Phasellus in felis. Donec semper sapien a libero. Nam dui.

Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.

Integer ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (130, 279, 4, N'Maecenas ut massa quis augue luctus tincidunt. Nulla mollis molestie lorem. Quisque ut erat.

Curabitur gravida nisi at nibh. In hac habitasse platea dictumst. Aliquam augue quam, sollicitudin vitae, consectetuer eget, rutrum at, lorem.

Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (131, 209, 4, N'Etiam vel augue. Vestibulum rutrum rutrum neque. Aenean auctor gravida sem.

Praesent id massa id nisl venenatis lacinia. Aenean sit amet justo. Morbi ut odio.

Cras mi pede, malesuada in, imperdiet et, commodo vulputate, justo. In blandit ultrices enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (134, 293, 2, N'Proin interdum mauris non ligula pellentesque ultrices. Phasellus id sapien in sapien iaculis congue. Vivamus metus arcu, adipiscing molestie, hendrerit at, vulputate vitae, nisl.

Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.

Curabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (135, 284, 4, N'Sed sagittis. Nam congue, risus semper porta volutpat, quam pede lobortis ligula, sit amet eleifend pede libero quis orci. Nullam molestie nibh in lectus.

Pellentesque at nulla. Suspendisse potenti. Cras in purus eu magna vulputate luctus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (137, 232, 5, N'Nullam porttitor lacus at turpis. Donec posuere metus vitae ipsum. Aliquam non mauris.

Morbi non lectus. Aliquam sit amet diam in magna bibendum imperdiet. Nullam orci pede, venenatis non, sodales sed, tincidunt eu, felis.

Fusce posuere felis sed lacus. Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl. Nunc rhoncus dui vel sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (139, 255, 3, N'Proin interdum mauris non ligula pellentesque ultrices. Phasellus id sapien in sapien iaculis congue. Vivamus metus arcu, adipiscing molestie, hendrerit at, vulputate vitae, nisl.

Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (142, 300, 1, N'Morbi non lectus. Aliquam sit amet diam in magna bibendum imperdiet. Nullam orci pede, venenatis non, sodales sed, tincidunt eu, felis.

Fusce posuere felis sed lacus. Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl. Nunc rhoncus dui vel sem.

Sed sagittis. Nam congue, risus semper porta volutpat, quam pede lobortis ligula, sit amet eleifend pede libero quis orci. Nullam molestie nibh in lectus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (143, 286, 2, N'Curabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.

Phasellus sit amet erat. Nulla tempus. Vivamus in felis eu sapien cursus vestibulum.

Proin eu mi. Nulla ac enim. In tempor, turpis nec euismod scelerisque, quam turpis adipiscing lorem, vitae mattis nibh ligula nec sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (143, 298, 2, N'Nullam sit amet turpis elementum ligula vehicula consequat. Morbi a ipsum. Integer a nibh.

In quis justo. Maecenas rhoncus aliquam lacus. Morbi quis tortor id nulla ultrices aliquet.

Maecenas leo odio, condimentum id, luctus nec, molestie sed, justo. Pellentesque viverra pede ac diam. Cras pellentesque volutpat dui.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (144, 209, 5, N'In sagittis dui vel nisl. Duis ac nibh. Fusce lacus purus, aliquet at, feugiat non, pretium quis, lectus.

Suspendisse potenti. In eleifend quam a odio. In hac habitasse platea dictumst.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (147, 202, 2, N'In congue. Etiam justo. Etiam pretium iaculis justo.

In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.

Nulla ut erat id mauris vulputate elementum. Nullam varius. Nulla facilisi.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (148, 227, 1, N'In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.

Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (150, 246, 5, N'In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.

Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.

Sed ante. Vivamus tortor. Duis mattis egestas metus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (150, 252, 4, N'In sagittis dui vel nisl. Duis ac nibh. Fusce lacus purus, aliquet at, feugiat non, pretium quis, lectus.

Suspendisse potenti. In eleifend quam a odio. In hac habitasse platea dictumst.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (151, 262, 5, N'Aenean fermentum. Donec ut mauris eget massa tempor convallis. Nulla neque libero, convallis eget, eleifend luctus, ultricies eu, nibh.

Quisque id justo sit amet sapien dignissim vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla dapibus dolor vel est. Donec odio justo, sollicitudin ut, suscipit a, feugiat et, eros.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (152, 278, 4, N'Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum.

In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.

Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (153, 280, 2, N'Aenean fermentum. Donec ut mauris eget massa tempor convallis. Nulla neque libero, convallis eget, eleifend luctus, ultricies eu, nibh.

Quisque id justo sit amet sapien dignissim vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla dapibus dolor vel est. Donec odio justo, sollicitudin ut, suscipit a, feugiat et, eros.

Vestibulum ac est lacinia nisi venenatis tristique. Fusce congue, diam id ornare imperdiet, sapien urna pretium nisl, ut volutpat sapien arcu sed augue. Aliquam erat volutpat.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (154, 230, 2, N'Nullam porttitor lacus at turpis. Donec posuere metus vitae ipsum. Aliquam non mauris.

Morbi non lectus. Aliquam sit amet diam in magna bibendum imperdiet. Nullam orci pede, venenatis non, sodales sed, tincidunt eu, felis.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (156, 201, 5, N'Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum.

In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.

Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (156, 237, 4, N'Proin eu mi. Nulla ac enim. In tempor, turpis nec euismod scelerisque, quam turpis adipiscing lorem, vitae mattis nibh ligula nec sem.

Duis aliquam convallis nunc. Proin at turpis a pede posuere nonummy. Integer non velit.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (157, 248, 3, N'In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.

Nulla ut erat id mauris vulputate elementum. Nullam varius. Nulla facilisi.

Cras non velit nec nisi vulputate nonummy. Maecenas tincidunt lacus at velit. Vivamus vel nulla eget eros elementum pellentesque.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (160, 226, 2, N'Vestibulum quam sapien, varius ut, blandit non, interdum in, ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis faucibus accumsan odio. Curabitur convallis.

Duis consequat dui nec nisi volutpat eleifend. Donec ut dolor. Morbi vel lectus in quam fringilla rhoncus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (160, 282, 2, N'Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.

Morbi porttitor lorem id ligula. Suspendisse ornare consequat lectus. In est risus, auctor sed, tristique in, tempus sit amet, sem.

Fusce consequat. Nulla nisl. Nunc nisl.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (161, 250, 3, N'Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vestibulum sagittis sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Etiam vel augue. Vestibulum rutrum rutrum neque. Aenean auctor gravida sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (162, 236, 5, N'Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.

Integer ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.

Nam ultrices, libero non mattis pulvinar, nulla pede ullamcorper augue, a suscipit nulla elit ac nulla. Sed vel enim sit amet nunc viverra dapibus. Nulla suscipit ligula in lacus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (163, 255, 5, N'Curabitur gravida nisi at nibh. In hac habitasse platea dictumst. Aliquam augue quam, sollicitudin vitae, consectetuer eget, rutrum at, lorem.

Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.

Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (165, 232, 3, N'Vestibulum quam sapien, varius ut, blandit non, interdum in, ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis faucibus accumsan odio. Curabitur convallis.

Duis consequat dui nec nisi volutpat eleifend. Donec ut dolor. Morbi vel lectus in quam fringilla rhoncus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (165, 296, 3, N'In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.

Nulla ut erat id mauris vulputate elementum. Nullam varius. Nulla facilisi.

Cras non velit nec nisi vulputate nonummy. Maecenas tincidunt lacus at velit. Vivamus vel nulla eget eros elementum pellentesque.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (166, 289, 2, N'Curabitur gravida nisi at nibh. In hac habitasse platea dictumst. Aliquam augue quam, sollicitudin vitae, consectetuer eget, rutrum at, lorem.

Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.

Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (168, 298, 1, N'In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.

Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (171, 206, 1, N'Fusce consequat. Nulla nisl. Nunc nisl.

Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum.

In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (172, 273, 5, N'Maecenas ut massa quis augue luctus tincidunt. Nulla mollis molestie lorem. Quisque ut erat.

Curabitur gravida nisi at nibh. In hac habitasse platea dictumst. Aliquam augue quam, sollicitudin vitae, consectetuer eget, rutrum at, lorem.

Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (172, 284, 5, N'Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.

Curabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.

Phasellus sit amet erat. Nulla tempus. Vivamus in felis eu sapien cursus vestibulum.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (174, 221, 5, N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin risus. Praesent lectus.

Vestibulum quam sapien, varius ut, blandit non, interdum in, ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis faucibus accumsan odio. Curabitur convallis.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (175, 222, 3, N'Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.

Sed ante. Vivamus tortor. Duis mattis egestas metus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (175, 289, 4, N'Integer ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.

Nam ultrices, libero non mattis pulvinar, nulla pede ullamcorper augue, a suscipit nulla elit ac nulla. Sed vel enim sit amet nunc viverra dapibus. Nulla suscipit ligula in lacus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (177, 253, 2, N'Nullam sit amet turpis elementum ligula vehicula consequat. Morbi a ipsum. Integer a nibh.

In quis justo. Maecenas rhoncus aliquam lacus. Morbi quis tortor id nulla ultrices aliquet.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (178, 212, 4, N'Cras mi pede, malesuada in, imperdiet et, commodo vulputate, justo. In blandit ultrices enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

Proin interdum mauris non ligula pellentesque ultrices. Phasellus id sapien in sapien iaculis congue. Vivamus metus arcu, adipiscing molestie, hendrerit at, vulputate vitae, nisl.

Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (181, 286, 5, N'Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci vehicula condimentum.

Curabitur in libero ut massa volutpat convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt in, leo. Maecenas pulvinar lobortis est.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (185, 212, 5, N'Maecenas ut massa quis augue luctus tincidunt. Nulla mollis molestie lorem. Quisque ut erat.

Curabitur gravida nisi at nibh. In hac habitasse platea dictumst. Aliquam augue quam, sollicitudin vitae, consectetuer eget, rutrum at, lorem.

Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (185, 219, 5, N'Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.

Morbi porttitor lorem id ligula. Suspendisse ornare consequat lectus. In est risus, auctor sed, tristique in, tempus sit amet, sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (187, 208, 3, N'In sagittis dui vel nisl. Duis ac nibh. Fusce lacus purus, aliquet at, feugiat non, pretium quis, lectus.

Suspendisse potenti. In eleifend quam a odio. In hac habitasse platea dictumst.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (187, 217, 4, N'In hac habitasse platea dictumst. Morbi vestibulum, velit id pretium iaculis, diam erat fermentum justo, nec condimentum neque sapien placerat ante. Nulla justo.

Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (188, 292, 4, N'In quis justo. Maecenas rhoncus aliquam lacus. Morbi quis tortor id nulla ultrices aliquet.

Maecenas leo odio, condimentum id, luctus nec, molestie sed, justo. Pellentesque viverra pede ac diam. Cras pellentesque volutpat dui.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (190, 251, 2, N'Fusce posuere felis sed lacus. Morbi sem mauris, laoreet ut, rhoncus aliquet, pulvinar sed, nisl. Nunc rhoncus dui vel sem.

Sed sagittis. Nam congue, risus semper porta volutpat, quam pede lobortis ligula, sit amet eleifend pede libero quis orci. Nullam molestie nibh in lectus.

Pellentesque at nulla. Suspendisse potenti. Cras in purus eu magna vulputate luctus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (190, 277, 3, N'Cras non velit nec nisi vulputate nonummy. Maecenas tincidunt lacus at velit. Vivamus vel nulla eget eros elementum pellentesque.

Quisque porta volutpat erat. Quisque erat eros, viverra eget, congue eget, semper rutrum, nulla. Nunc purus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (191, 224, 5, N'Sed ante. Vivamus tortor. Duis mattis egestas metus.

Aenean fermentum. Donec ut mauris eget massa tempor convallis. Nulla neque libero, convallis eget, eleifend luctus, ultricies eu, nibh.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (192, 204, 4, N'Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.

Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.

Morbi porttitor lorem id ligula. Suspendisse ornare consequat lectus. In est risus, auctor sed, tristique in, tempus sit amet, sem.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (194, 238, 1, N'Duis bibendum. Morbi non quam nec dui luctus rutrum. Nulla tellus.

In sagittis dui vel nisl. Duis ac nibh. Fusce lacus purus, aliquet at, feugiat non, pretium quis, lectus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (194, 268, 2, N'Maecenas tristique, est et tempus semper, est quam pharetra magna, ac consequat metus sapien ut nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris viverra diam vitae quam. Suspendisse potenti.

Nullam porttitor lacus at turpis. Donec posuere metus vitae ipsum. Aliquam non mauris.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (196, 280, 2, N'Phasellus sit amet erat. Nulla tempus. Vivamus in felis eu sapien cursus vestibulum.

Proin eu mi. Nulla ac enim. In tempor, turpis nec euismod scelerisque, quam turpis adipiscing lorem, vitae mattis nibh ligula nec sem.

Duis aliquam convallis nunc. Proin at turpis a pede posuere nonummy. Integer non velit.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (197, 219, 2, N'Vestibulum quam sapien, varius ut, blandit non, interdum in, ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis faucibus accumsan odio. Curabitur convallis.

Duis consequat dui nec nisi volutpat eleifend. Donec ut dolor. Morbi vel lectus in quam fringilla rhoncus.')
INSERT [dbo].[Review] ([user_id], [restaurant_id], [score], [comment]) VALUES (199, 223, 2, N'Proin leo odio, porttitor id, consequat in, consequat ut, nulla. Sed accumsan felis. Ut at dolor quis odio consequat varius.

Integer ac leo. Pellentesque ultrices mattis odio. Donec vitae nisi.')
GO
SET IDENTITY_INSERT [dbo].[TAUser] ON 

INSERT [dbo].[TAUser] ([user_id], [user_name], [password], [phone], [email]) VALUES (1, N'fminshaw0', N'hH1\0bWf&KbWDAEP', N'161-304-6544', N'jgiovannacci0@eepurl.com')
INSERT [dbo].[TAUser] ([user_id], [user_name], [password], [phone], [email]) VALUES (2, N'gfinnan1', N'nR2~,j()Lbcl=k', N'979-421-9383', N'bciraldo1@bigcartel.com')
INSERT [dbo].[TAUser] ([user_id], [user_name], [password], [phone], [email]) VALUES (3, N'clonnon2', N'lG4.KUNyg0%8xFE', N'231-867-7360', N'jweale2@ask.com')
GO
SET IDENTITY_INSERT [dbo].[TAUser] OFF
GO
ALTER TABLE [dbo].[FoodOrder] ADD  DEFAULT (NULL) FOR [time_closed]
GO
ALTER TABLE [dbo].[Compound_Item]  WITH CHECK ADD FOREIGN KEY([child_item_id])
REFERENCES [dbo].[Item] ([item_id])
GO
ALTER TABLE [dbo].[Compound_Item]  WITH CHECK ADD FOREIGN KEY([parent_item_id])
REFERENCES [dbo].[Item] ([item_id])
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD FOREIGN KEY([courrier_id])
REFERENCES [dbo].[Courier] ([courier_id])
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[FoodOrder] ([order_id])
GO
ALTER TABLE [dbo].[FoodOrder]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[Payment] ([payment_id])
GO
ALTER TABLE [dbo].[FoodOrder]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[TAUser] ([user_id])
GO
ALTER TABLE [dbo].[Item_Menu]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[Item] ([item_id])
GO
ALTER TABLE [dbo].[Item_Menu]  WITH CHECK ADD FOREIGN KEY([menu_id])
REFERENCES [dbo].[Menu] ([menu_id])
GO
ALTER TABLE [dbo].[Item_Order]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[Item] ([item_id])
GO
ALTER TABLE [dbo].[Item_Order]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[FoodOrder] ([order_id])
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[Restaurant] ([restaurant_id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[Restaurant] ([restaurant_id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[TAUser] ([user_id])
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD CHECK  (([status]='on way' OR [status]='being made' OR [status]='delivered'))
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD CHECK  (([type]='pick up' OR [type]='delivery'))
GO
ALTER TABLE [dbo].[FoodOrder]  WITH CHECK ADD CHECK  (([time_closed] IS NULL OR [time_closed]>[time_made]))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([status]='refunded' OR [status]='failed' OR [status]='completed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([score]<(6) AND [score]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_PlaceOrder]    Script Date: 9.11.2025 г. 23:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to place a new food order with items
CREATE PROCEDURE [dbo].[sp_PlaceOrder]
    @user_id INTEGER,
    @arrival_address VARCHAR(40),
    @comment_to_restaurant TEXT = NULL,
    @payment_type VARCHAR(20),
    @item_ids VARCHAR(MAX), -- Comma-separated list of item IDs (e.g., '1,3,5')
    @delivery_type VARCHAR(20) = 'delivery',
    @courier_id INTEGER = NULL,
    @order_id INTEGER OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Validate user exists
        IF NOT EXISTS (SELECT 1 FROM TAUser WHERE user_id = @user_id)
        BEGIN
            RAISERROR('User does not exist', 16, 1);
            RETURN;
        END
        
        -- Validate delivery type
        IF @delivery_type NOT IN ('delivery', 'pick up')
        BEGIN
            RAISERROR('Invalid delivery type. Must be ''delivery'' or ''pick up''', 16, 1);
            RETURN;
        END
        
        -- Create payment record
        DECLARE @payment_id INTEGER;
        INSERT INTO Payment (type, status)
        VALUES (@payment_type, 'pending');
        
        SET @payment_id = SCOPE_IDENTITY();
        
        -- Create food order (trigger will set date and time_made)
        INSERT INTO FoodOrder (payment_id, user_id, arrival_address, comment_to_restaurant)
        VALUES (@payment_id, @user_id, @arrival_address, @comment_to_restaurant);
        
        SET @order_id = SCOPE_IDENTITY();
        
        -- Add items to order
        DECLARE @item_id INTEGER;
        DECLARE @pos INTEGER;
        DECLARE @remaining_items VARCHAR(MAX) = @item_ids;
        
        WHILE LEN(@remaining_items) > 0
        BEGIN
            SET @pos = CHARINDEX(',', @remaining_items);
            
            IF @pos > 0
            BEGIN
                SET @item_id = CAST(LEFT(@remaining_items, @pos - 1) AS INTEGER);
                SET @remaining_items = SUBSTRING(@remaining_items, @pos + 1, LEN(@remaining_items));
            END
            ELSE
            BEGIN
                SET @item_id = CAST(@remaining_items AS INTEGER);
                SET @remaining_items = '';
            END
            
            -- Validate item exists
            IF EXISTS (SELECT 1 FROM Item WHERE item_id = @item_id)
            BEGIN
                INSERT INTO Item_Order (item_id, order_id)
                VALUES (@item_id, @order_id);
            END
        END
        
        -- Create delivery record
        INSERT INTO Delivery (courrier_id, type, status, order_id, expected_time)
        VALUES (
            @courier_id, 
            @delivery_type, 
            'being made', 
            @order_id,
            DATEADD(MINUTE, 45, CAST(GETDATE() AS TIME)) -- Expected in 45 minutes
        );
        
        COMMIT TRANSACTION;
        
        -- Return order details
        SELECT 
            @order_id AS order_id,
            @payment_id AS payment_id,
            'Order placed successfully' AS message;
            
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
USE [master]
GO
